.markdown {
    @apply leading-relaxed mb-2;
}

.markdown h1 {
    @apply text-center text-3xl;
}

.markdown h2 {
    @apply text-2xl;
}

.markdown h3 {
    @apply text-xl;
}

.markdown h4 {
    @apply text-base;
}

.markdown h5 {
    @apply text-sm;
}

.markdown h6 {
    @apply text-xs text-neutral-600 dark:text-neutral-400;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    @apply mb-2 mt-4 font-semibold;
}

.markdown .link {
    @apply text-sky-700 hover:text-sky-600 underline dark:text-blue-400 dark:hover:text-blue-300;
}

.markdown .type-link {
    text-underline-offset: 0.25rem;
    @apply text-sky-700 hover:text-sky-600 underline dark:text-blue-400 dark:hover:text-blue-300;
}

.markdown p {
    @apply mb-2 mt-0;
}

.markdown .collapsing-content > *:last-child {
    /*Not 0 because of code blocks at the end of groups...*/
    @apply mb-[0.1rem];
}

.markdown pre {
    @apply sb-custom !important;
}

.markdown ul,
.markdown ol {
    @apply mb-4 mt-0 pl-4;
}

.markdown ol {
    @apply list-decimal;
}

.markdown ul {
    @apply list-disc;
}

.markdown blockquote {
    @apply mx-6 mb-4 border-l-4 border-sky-400 bg-neutral-200 p-2 italic dark:bg-neutral-800;
}

.markdown blockquote > p {
    @apply mb-0;
}

.markdown p > code {
    @apply text-base;
}

.markdown hr {
    @apply border-t-2 border-neutral-300 dark:border-neutral-600;
}

.markdown .inline-code {
    @apply border border-neutral-200 bg-neutral-50 px-1 py-0.5 text-sm dark:border-neutral-700 dark:bg-neutral-800 whitespace-nowrap;
}

.markdown .expressive-code {
    @apply mb-2;
}

.markdown table {
    @apply mb-2 w-full table-fixed xl:table-auto;
}

.markdown table thead tr {
    @apply hidden xl:table-row;
}

.markdown thead tr th {
    @apply border border-neutral-400 bg-neutral-350 px-2 py-1.5 dark:border-neutral-700 dark:bg-neutral-850;
}

.markdown td {
    @apply flex justify-between gap-x-2 px-2 py-1.5 xl:table-cell xl:gap-x-0;
    @apply border border-neutral-400 dark:border-neutral-700;
}

.markdown tr {
    @apply my-2 block bg-neutral-150 first:mt-0 last:mb-0 odd:bg-white dark:bg-neutral-850 dark:odd:bg-neutral-800 xl:my-0 xl:table-row;
    @apply hover:bg-blue-500 hover:bg-opacity-30 dark:hover:bg-blue-800 dark:hover:bg-opacity-10;
}

.markdown tr td div {
    @apply -my-1.5 -ml-2 flex w-1/2 flex-col justify-center border-r border-neutral-400 bg-neutral-200 px-2 dark:border-neutral-700 dark:bg-neutral-900 xl:hidden;
}

.markdown tr td span {
    @apply w-1/2 overflow-x-auto sb-custom xl:w-auto;
}

.markdown .parameters p {
    @apply mb-0;
}
