// For any custom css that shouldn't be in the tailwind build

.nav-closed {
    content: "";
}

.nav-closed > span::before {
    content:          "";
    /*noinspection CssUnknownTarget*/
    background-image: url("/img/cheveron-right.svg");
    display:          inline-block;
    width:            14px;
    height:           14px;
    margin-top: auto;
    margin-bottom: auto;
}


.nav-open {
    content: "";
}

.nav-open > span::before {
    content:          "";
    /*noinspection CssUnknownTarget*/
    background-image: url("/img/cheveron-down.svg");
    display:          inline-block;
    width:            14px;
    height:           14px;
    margin-top: auto;
    margin-bottom: auto;
}